<h2><%= @customers.last_name %><%= @customers.first_name %>さんの会員詳細</h2>

<h4>会員ID</h4><%= @customers.id %>
<h4>氏名</h4><%= @customers.last_name %><%= @customers.first_name %>
<h4>フリガナ</h4><%= @customers.last_name_kana %><%= @customers.first_name_kana %>
<h4>郵便番号</h4><%= @customers.postal_code %>
<h4>住所</h4><%= @customers.address %>
<h4>電話番号</h4><%= @customers.telephone_number %>
<h4>メールアドレス</h4><%= @customers.email %>
<h4>会員ステータス</h4>
<% if @customers.is_active %>
退会
<% else %>
有効
<% end %>

<%= link_to "編集する", edit_admin_customer_path %>
<%= link_to "注文履歴一覧を見る", admin_homes_top_path %>