<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
              <% if admin_signed_in? %>
              <li>
                <i class="fas fa-home"></i>
                <%= link_to "商品一覧", admin_items_path %>
              </li>
              <li>
                <i class="fas fa-link"></i>
                <%= link_to "会員一覧", admin_customers_path %>
              </li>
              <li>
                <i class="fas fa-user-plus"></i>
                <%= link_to "注文履歴一覧", admin_homes_top_path %>
              </li>
              <li>
                <i class="fas fa-sign-in-alt"></i>
                <%= link_to "ジャンル一覧", admin_genres_path %>
              </li>
              <li>
                <i class="fas fa-sign-in-alt"></i>
                <%= link_to "ログアウト", new_admin_session_path, method: :delete %>
              </li>

              <% elsif customer_signed_in?%>
              <li>
                <i class="fas fa-sign-in-alt"></i>
                <%= link_to "マイページ", public_customers_my_page_path %>
              </li>
              <li>
                <i class="fas fa-sign-in-alt"></i>
                <%= link_to "商品一覧", public_items_path %>
              </li>
              <li>
                <i class="fas fa-sign-in-alt"></i>
                <%= link_to "カート", public_cart_items_path %>
              </li>
              <li>
                <i class="fas fa-sign-in-alt"></i>
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
              </li>

              <% else %>
              <li>
                <i class="fas fa-home"></i>
                <%= link_to "About", public_homes_about_path %>
              </li>
              <li>
                <i class="fas fa-users"></i>
                <%= link_to "商品一覧", admin_items_path %>
              </li>
              <li>
                <i class="fas fa-book-open"></i>
                <%= link_to "新規登録", new_customer_registration_path %>
              </li>
              <li>
                <i class="fas fa-sign-out-alt"></i>
                <%= link_to "ログイン", new_customer_session_path %>
              </li>
              <% end %>
    </header>
    <%= yield %>
  </body>
</html>
